body {
    display: grid;
    grid-template: auto auto auto auto/1fr;
}

header img {
    width: 100%;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

section {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

section .cardTitle {
    text-align: center;
}

section .cardTitle img {
    max-width: calc(100% - 2em);
    max-height: 150px;
    margin: 1em;
}

section .cardText {
    flex-grow: 1;
    padding: 1em;
}

section .cardFooter {
    flex: 0 1 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 1em;
}

section .cardFooter a {
    flex: 0 1 auto;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(127, 126, 126);
    background-color: lightgray;
    color: white;
    font-size: 0.8em;
    border-radius: 0.4em;
}

section .cardFooter a:hover {
    color: black;
}

section .cardFooter .view {
    border-radius: 0.4em 0 0 0.4em;
}

section .cardFooter .edit {
    border-radius: 0 0.4em 0.4em 0;
}

section .cardFooter .web {
    margin-left: auto;
    color: blue;
}

footer ul {
    margin: 2em 2em 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

footer address {
    margin-top: 2em;
    text-align: center;
    font-size: small;
    color: lightgray;
}

footer ul a:link {
    text-decoration: none;
    color: rgb(114, 113, 113);
}

footer ul a:hover {
    text-decoration: none;
    color: black;
}


footer ul img,
footer ul span {
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer ul li {
    list-style-type: none;
    padding: 0 1em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #root {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #root {
        max-width: 720px;
    }

    section {
        flex: 0 1 calc(50% - 2em);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #root {
        max-width: 960px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #root {
        max-width: 1140px;
    }

    section {
        flex: 0 1 calc(33% - 2em);
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    #root {
        max-width: 1320px;
    }
}